 .loadSave {
    width: 50%; /* Adjust the width as per your design */
    margin: 0 auto; /* This centers the div horizontally */
    text-align: center; /* This centers the content inside the div */
    font-size: 30px;
    padding: 20px;
}

.loadSave button{
    font-size: 20px;
}

#WooDongTransparent {
    position: fixed;
    bottom: 0%;
    height: 400px;
    animation: wooDongSlide 10s infinite linear;
}

#WooDongTransparentTwo {
    position: fixed;
    height: 400px;
    animation: wooDongSlide 10s infinite linear;
}

@keyframes wooDongSlide {
    0% { margin-left: 0%; }
    25% { margin-bottom: 100px; }
    50% { margin-left: 90%; margin-bottom: 0px; }
    75% { margin-bottom: 100px; }
    100% { margin-left: 0%; margin-bottom: 0px; transform: rotate(360deg); }
}

.upgradeMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
  } 



.grid input{
    width: 5rem;
    height: 5rem;   
}

.grid table {
    display: flex;
    justify-content: center;
}

.grid td {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.cell {
    outline: none;
    border: none;
    text-align: center;
    font-size: 3rem;
}

/* Add a thicker border for the 3x3 subgrids */
.grid tr:nth-child(3n) td {
  border-bottom: 3px solid black;
}
.grid tr:nth-child(3n-2) td {
    border-top: 3px solid black;
  }
.grid td:nth-child(3n) {
  border-right: 3px solid black;
}
.grid td:nth-child(3n-2) {
    border-left: 3px solid black;
  }

.menu{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.menu button{
    width: 15rem;
    height: 7.5rem;
    font-size: 1.25rem;
    padding: 5px 2px;
}
    

